@page "/notes"
<PageTitle>Task Board</PageTitle>

<h3>Notes</h3>
<div>
	<TextAreaInput @bind-Value="@newNoteText" Rows="3" Placeholder="Enter note text" />
	<Button Color="ButtonColor.Primary" @onclick="AddNote"> Add note </Button>
</div>
	
<div class="mb-3"></div>
<ul class="list-group">
    @foreach (var note in NotesList)
    {
            <li class="list-group-item d-flex justify-content-between align-items-center">
            @if (note.IsEditing)
            {
                        <TextInput @bind-Value="note.Text" />
                        <Button @onclick="() => SaveEdit(note)">Save</Button>
            }
            else
            {
                        <div class="note-text">
                    @note.Text
                        </div>
                        <div>
                            <Button @onclick="() => EditNote(note)">✏️</Button>
                            <Button @onclick="() => RemoveNote(note)">🗑️</Button>
                        </div>
            }
            </li>
    }
</ul>

@code {
    private List<Note> NotesList = new();
    private string newNoteText = "";

    private void AddNote()
    {
        if (!string.IsNullOrWhiteSpace(newNoteText))
        {
            NotesList.Add(new Note { Text = newNoteText });
            newNoteText = string.Empty;
        }
    }

    private void RemoveNote(Note note)
    {
        NotesList.Remove(note);
    }

    private void EditNote(Note note)
    {
        note.IsEditing = true;
    }

    private void SaveEdit(Note note)
    {
        note.IsEditing = false;
    }

    private class Note
    {
        public string Text { get; set; }
        public bool IsEditing { get; set; }
    }
}
