RewriteEngine On
RewriteBase /

# Přepošli vše kromě existujících souborů a složek do index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

